


/* ======================================================= 
 *    ---------------------------------
 *    CONTENTS UN STYLE GUIDE
 *    ---------------------------------
 *   
 *      [1] MAIN STUFF
 *      [1.2] HEADINGS
 *      [2] LANGUAGE BAR
 *      [3] HEADER
 *      [4] BREADCRUMB
 *      [5] CONTENT
 *      [6] FOOTER 
 *      [7] MEDIA BOXES
 *      [7.2] RADIO BOX
 *      [7.3] SG BOX
 *      [7.4] TWITTER BOX
 *      [8] NAVBAR-TOGGLE
 *      [9] RESPONSIVE DESIGN
 * ======================================================= */


/* ====================================================================== *
      [1] MAIN STUFF
 * ====================================================================== */
html {
  margin-right: 0 !important;
  overflow: visible !important;
}
body {
  background-color: #e9eaed; 
  font-family: 'Roboto';
  -webkit-transition: margin 0.4s ease;
  -moz-transition: margin 0.4s ease;
  -o-transition: margin 0.4s ease;
  transition: margin 0.4s ease;
}

/* ====================================================================== *
      [1.2] HEADINGS
 * ====================================================================== */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #4d4d4d;
  }
  
  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 9px;
  }

  h1, .h1 {
    font-size: 35px;
  }
 
  h2, .h2 {
    font-size: 27px;
  }
  
  h3 {
    margin-top: 5px;
    color: #666666;
  }
  
  h3 {
    font-size: 18px;
  }
      
/* ====================================================================== *
      [2] LANGUAGE BAR 
 * ====================================================================== */
a.language-link.active {
    font-weight: 700 !important;
}

#brand-bar {
  background: #e9eaed;
  margin: 0;
  padding: 0;
  border: none !important;
  border-bottom: #00adef solid 5px !important;
  height: 41px;
  min-height: inherit;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

@media (min-width: 768px) {
.navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
}

@media (min-width: 768px) {
.navbar {
  border-radius: 0;
}
.navbar {
  position: relative;
  min-height: auto;
  margin-bottom: 18px;
  border: 1px solid transparent;
}
#brand-bar .brandbar-header {
  padding-top: 10px !important;

}
.container {
    max-width: 1460px;
    padding-left: 10px;
}
}
#brand-bar .brandbar-header a {
  padding: 0;
  font-size: 12.35px;
  line-height: 17.03px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: black;
}


@media (min-width: 768px) {
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-default .navbar-brand {
  color: #777;
}
}

@media (max-width: 692px) {
#brand-bar .brandbar-header a {
  margin-top: 10px;
}
.header {
  font-size: 24px;
  padding-top: 20px !important;
}
.lead {
  font-size: 15px;
  display: flex;
  padding-bottom: 0 !important;
}
.logo {
  width: 104px;
  margin-top: 0 !important;
  margin-bottom: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
header {
  margin-top: 53px;
}
.headerText {
  margin-left: 0 !important;
  text-align: center;
}
}
/* Adds home icon at the top */

#brand-bar .brandbar-header a.navbar-brand:before {
  font-family: FontAwesome;
  color: black;
  content: "\f015";
  font-size: 18.07px;
  line-height: 0.9;
  margin-right: 7.8px;
  float: left;
  -webkit-font-smoothing: antialiased;
}


/* List of languages and hamburger language menu */

.language-switcher {
    list-style: none !important;
    text-align: right;
}

#navigation ul li {
    display: inline;
    padding-right: 13px;
}

#brand-bar .brandbar-header .language-switcher .language-title {
  float: right;
  margin-right: 10.4px;
  line-height: 1.2;
  margin-top: 11px;
}

#brand-bar .brandbar-header .language-switcher .language-title a {
  font-weight: bold;
  text-decoration: none;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .visible-xs-inline {
   display: inline !important;
 }
}

@media (max-width: 768px) {
  #brand-bar .brandbar-header a {
    font-size: 12.09px;
    letter-spacing: -0.02em;
  }

  #brand-bar .brandbar-header .language-switcher #language-switcher {
    clear: both;
  }


  #brand-bar .brandbar-header .language-switcher #language-switcher ul.language-switcher-locale-url {
   margin-top: 3px;
   width: 161px;
  }

  #brand-bar .brandbar-header .language-switcher #language-switcher ul.language-switcher-locale-url li a {
    background: white;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: #f2f2f2 solid 1px;
}

#navigation ul li {
    display: inherit;
    padding-right: 13px;
    background: white;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: #f2f2f2 solid 1px;
    text-align: left;
}

#brand-bar .brandbar-header .language-switcher #language-switcher ul.language-switcher-locale-url li.active a {
    background: #f2f2f2;
    font-weight: 700;
}

}

#brand-bar .brandbar-header .language-switcher #language-switcher {
    border-top: none;
    padding: 0;
    float: right;
}

.collapse.in {
    display: block;
}

  #brand-bar .brandbar-header .language-switcher button.navbar-toggle {
    margin-top: 0;
    border: none;
    padding: 0;
    background: transparent;
    border-radius: 0;
    margin-right: 2px;
    margin-top:10px;
}

#brand-bar .brandbar-header .language-switcher button.navbar-toggle span.icon-bar {
    background-color: #00adef;
}


}

a.language-link.active {
    font-weight: 700 !important;
}

li.en.active {
  background: #f2f2f2 !important;
}


@media (min-width: 768px) {
  .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
  }
}

/* ====================================================================== *
      [3] HEADER
 * ====================================================================== */

.content-header {
  width: 1460px;
  background: #e9eaed;
}

.media-boxes-filter {
  float: right;
}

.media-boxes-filter {
  padding-top: 25px;
}

.media-boxes-filter>li {
  margin: 0px 0px 0px 10px;
}

.title h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.title img {
  margin-right: 14px;
  margin-top: 20px;
}

.section {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sticky {
  position: fixed;  
  top: 0;
  z-index: 100;
}

.search-box {
  margin: 10px 0px 50px 0px;
}
     
/* ====================================================================== *
      [4] BREADCRUMB 
 * ====================================================================== */

.breadcrumb > li {
  display: inline-block;
}
.breadcrumb {
  padding: 0px 0px;
  margin-bottom: 18px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}
ol.breadcrumb > li + li:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.breadcrumb > li + li::before {
  content: "ï„ ";
  padding: 0px 5px;
  color: rgb(77, 77, 77);
}

/* ====================================================================== *
      [5] CONTENT
 * ====================================================================== */

.content {
  width: 1460px; 
  margin: auto;
}
/* ====================================================================== *
      [6] FOOTER
 * ====================================================================== */

.footer .list-inline .footer-brand {
  font-size: 'Roboto';
  height: 21px;
  margin-top: -6px;
  margin-bottom: 10px;
  background: url(../img/un-logo-footer.png) left top no-repeat;
}  
.footer .list-inline .footer-brand a {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding-left: 30px;
}
.footer #block-menu-menu-footer-links ul.nav li {
  float: left;
  padding-right: 6.5px;
  margin-right: 5.85px;
  border-right: #737373 solid 1px;
  line-height: 1;
}
.footer ul.nav li {
  padding: 0;
  margin: 0 0 6.5px 0;
}
.footer ul.nav li a {
  padding: 0;
  margin: 0;
  color: black;
}
.footer ul.nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.nav > li {
  position: relative;
  display: block;
}
footer {
  margin-top: 50px;
  margin-bottom: 25px;
}


/* ====================================================================== *
      [7] MEDIA BOXES 
 * ====================================================================== */


.media-box-title {
  font-size: 15px;
}

.media-box-caption {
  margin-top: -20px;
  margin-bottom: 13px;
  margin-right: -10px;
  font-size: 11px;
  text-align: right;
  color: #999;
}
.media-box-read-more-link {
  background: #008fd5;
}

.media-box-bottom {
  margin: 15px 0px 0px 0px;
}

.source-text {
  float: right;
}

/* SHARE BUTTON */

.share-button {
    display: inline;
    padding: 0px 5px 0px 0px;
    color: #666;
    margin: 4px;
}

.share-button-content {
    display: none;
    position: relative;
    padding: 0px 2px;

}

.share-button:hover .share-button-content {
    display: inline;
 
}
.share-button:active .share-button-content {
    display: inline;
 
}
.share-button-content a{
    padding: 0px 3px 0px 6px ;
    color: #666;
    background-color: white;
    
}
.share-button-content a:hover{
    color: #428bca;
  
}
.share {
    background: white;
    color: #428bca;
    border: none;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;

}

/* [7.2] RADIO BOX */

.radio-title {
  position: absolute; 
  top: 24%;
  left: 47%;
  color: #428bca;
  font-size: 12px;
  font-family: "roboto";
  width: 59%;
  background: white;
  text-align: left;
  padding-left: 10px;    
}
    
.radio-subtitle {
  position: absolute; 
  top: 40%;
  left: 51%;
  color: white;
  font-size: 12px;
  font-family: "roboto";
  width: 43%;
  background: none;
  text-align: left;       
}

/* [7.3] SECRETARY-GENERAL BOX */

 
.SG-title {
  position: absolute;
  top: 24%;
  left: -13%;
  color: #428bca;
  font-size: 12px;
  font-family: "roboto";
  width: 59%;
  background: white;
  text-align: right;
  padding-right: 10px;  
}

.SG-subtitle {
  position: absolute; 
  top: 40%;
  left: 4%;
  color: white;
  font-size: 12px;
  font-family: "roboto";
  width: 43%;
  background: none;
  text-align: left; 
}
/* [7.4] TWITTER BOX */

.logo-image {
  position: absolute;
  top: -13%;
  left: 6%;
}

.logo-image-lg {
  position: absolute;
  top: -19%;
  left: 4%;
}

.twitter-date {
  font-size: 11px;
  color: #999;
  margin: -16px 0 0 57px;
  line-height: 15px;
}
/* ====================================================================== *
      [8] NAVBAR-TOGGLE
 * ====================================================================== */
.navbar-toggle {
  background: white;
  border: 2px solid #4d4d4d;
  margin top: 10px;
  padding: 6px 4px;
  margin-right: -10px;
}

.navbar-toggle:hover {
  background: #e9eaed;
} 

.navbar-toggle .icon-bar {
  background-color: #4d4d4d;  
}

.navbar-collapse {
  padding-right: 0px;
}

.navbar-collapse.in {
  overflow-y: visible !important;
}



/* ====================================================================== *
      [9] RESPONSIVE DESIGN
 * ====================================================================== */

@media only screen and (max-width: 1460px) {
  

  .content, .content-header {
    width: 100%;
    padding: 0px 10px !important;
  }
  .sticky >.navbar-collapse {
    padding-right: 10px;
  }

@media only screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }

  .navbar-collapse {
    padding-left: 0px;
  }
  .media-boxes-filter{
    float: left;
    margin: 0px -19px;
  }
  .title img {
    float: left;
  }

  .title .content > .pull-left {
    float: none !important;
  }
  .search-box {
    margin-top: -30px;
    margin-right: 10px;
  }
  }

@media only screen and (max-width: 900px) {

  .content .navbar-nav>li>a{
    padding: 15px 15px !important;
  }
  .pull-left {
      float: none !important;
  }

  .title img {
    margin-top: 5px;
  }
  .media-boxes-filter>li a {
    display: block;
  }

  .search-box {
    float: right;
    margin: -130px -10px 0px 0px;
  }

  .sticky h3 {
    margin-left: 70px;
  }
  .sticky img {
    margin: 14px 15px -10px 0px;
  }

  .sticky .search-box {
    margin-right: 0px;
  }

@media only screen and (max-width: 770px) {

  .title h1 {
    font-size: 30px;
  }

  .title h3 {
    text-align: left;
    font-size: 16px;
    margin-left: 70px;
  }
  .search-box {
    float: left;
    margin: 10px -9px 5px 0px;
  }

  .sticky > .navbar-toggle {
    margin-top: 15px;
    margin-right: 10px;
  }

  .sticky > .media-boxes-filter {
    margin-top: 0px !important;
  }

  .media-boxes-search {
    margin-left: -10px;

  }

@media only screen and (max-width: 480px) {

  .title img {
    display: block;
    margin: 3px 15px 10px 0px;
    float: left;
  }

  .title h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 26px;
  }

  .title h3 {
    opacity: 0;
    overflow: hidden;

  }

  .section {
    padding-bottom: 0px;
  }

  .media-boxes-filter {
    padding-top: 0px;
  }

  .sticky h1 {
    margin-bottom: -19px;
  }
  
  .media-boxes-filter>li a {
    display: block;
    padding: 8px 11px;
  }
  .sticky img {
    margin: 20px 10px -10px 0px;
  }

@media only screen and (max-width: 330px) {

.section {
  padding-top: 0px;
}

.title h3 {
  font-size: smaller;
}

.title h1 {
  font-size: 20px;
}

.navbar-toggle {
    margin-top: 0px;
    margin-right: -8px;
}

.sticky img {
    margin: 20px 10px 0px 0px;
  }

.media-boxes-filter > li a {
  font-size: 10px;
}






